/* CarouselComponent.css */

.custom-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: transform 1s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-item.active {
  opacity: 1;
  position: relative;
}

.carousel-item.slide-left-to-right {
  animation: slideLeftToRight 1s forwards;
}
.d-block {
  height: 500px;
}
.carousel-caption112 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: left;
}
@keyframes slideLeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width:768px){
  .d-block {
    height: 400px;
  }
}
